@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100%;
    height: 100vh;    
    display: flex;
    align-items: center;
    background-color: white;
}

section{
    margin: auto;
    max-width: 65rem;
    display: flex;
    border: 1px solid;
}

section .image{
    width: 25%;
    position: relative;
}

.image div{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(4, 216, 4, 0.384), rgba(245, 245, 245, 0.5));
    font-size: 1.5rem;
    color: whitesmoke;
}

.image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

section form{
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 auto;
    padding: 1rem 1rem;
    gap: 0 2.5rem;
}

form .block{
    width: 45%;
    padding: 0rem 1.5rem;
}

.block .champs{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1.5rem 0;
}

.champs label{
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

.champs input{
    height: 2.5rem;
    margin: 2px 0;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.884);
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    background-color: white;
}

.champs-1 input{
    border: 1px solid rgb(4, 153, 103);
}

.champs-2 input{
    border: 1px solid red;
}

.champs-2 i{
    border-radius: 10px;
    color: red;
    position: absolute;
    right: 10px;
    bottom: 15px;
}

.champs p{
    position: absolute;
    top: 0px;
    right: 0;
    font-size: 10px;
    text-decoration: underline;
    color: rgba(128, 128, 128, 0.884);
}

.champs .check{
    display: flex;
    gap: 1rem;
}

.check .checker{
    display: flex;
    align-items: center;
    gap: 5px;
}

.range{
    display: flex;
    flex-direction: column;
    padding: 0rem 2.5rem;
    width: 100%;
    gap: 10px;
}

.range .progress{
    width: 100%;
    background-color: gray;
    border-radius: 5px;
    height: 3px;
}

.progress .bar{
    height: 3px;
    width: 50%;
    background-color: rgb(4, 153, 103);
    border-radius: 5px;
}

.bar span{
    font-size: 15px;
    width: 60px;
    height: 30px;
    float: right;
    background-color: rgb(4, 153, 103);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
    margin-right: -25px;
}

form .button{
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.button input{
    padding: 12px 25px;
    border: 1px solid rgb(25, 182, 130);
    background: none;
    border-radius: 5px;
    font-size: 15px;
    color: #818080d0;
}

.button input[type='submit']{
    background-color: rgb(25, 182, 130);
    color: white;
}

@media (max-width: 700px){
    section .image{
        width: 25%;
    }

    section form{
        width: 250px;
        padding: 10px;
    }

    form .block{
        width: 80%;
        padding: 0;
        
    }

    .block .champs{
        margin: 0.5rem 0;
    }

    .champs input{
        height: 1.7rem;
        font-size: 13px;
    }

    .champs-2 i{
        bottom: 11px;
        font-size: 10px;
    }

    .check .checker label{
        font-size: 9px;
    }

    .range{
        padding: 0rem 1.8rem;
    }

    .range label{
        font-size: 12px;
    }
    
    .bar span{
        font-size: 12px;
        width: 50px;
        height: 20px;
        margin-top: -10px;
    }

    form .button{
        width: 100%;
        margin-top: 1rem;
    }

    .button input{
        padding: 5px 10px;
    }
}